**/Debug
**/Release

**/Debug/*
**/Release/*

**/.xdchelp

**/.config
**/.config/*

**/.launches
**/.launches/*

dvt
dvt/*

.jxbrowser.userdata
.jxbrowser.userdata/*

.metadata
.metadata/*

RemoteSystemsTempFiles
RemoteSystemsTempFiles/*
